#contact {
    overflow-x: hidden;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}

nav {
    background-color: #151529;
    --bs-navbar-color: white !important;
}

nav .navbar-brand span {
    font-weight: 900;
}

html {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


nav .navbar-brand span {
    font-weight: 900;
}

#intro {
    box-shadow: inset 0 0 0 2000px rgba(21, 21, 41, 0.8);
    background-size: cover;
    background-image: url('https://images.pexels.com/photos/7594130/pexels-photo-7594130.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
}

@media(min-width: 1600px) {
    #intro h1 {
        font-size: 65px;
        max-width: 50%;
    }
}

#intro a {
    color: white;
    background-color: #2e1e73;
    border-color: #2e1e73;
    border-radius: 50px;
    padding: 18px 25px;
    font-size: x-large;
    transition: all .25s ease-in-out;
}

#intro a:hover {
    background-color: rgb(44, 44, 84);
    border-color: rgb(44, 44, 84);
}

section#features .container {
    position: relative;
}


section#features .container::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    width: 69%;
    height: 60%;
    border-radius: 30px;
    background-color: #151529;
    -webkit-transform: skew(0deg, -15deg);
    -ms-transform: skew(0deg, -15deg);
    transform: skew(0deg, -15deg) translate(-50%, -50%);
}

section#features div.feature {
    height: 100vh;
}

.card {
    box-shadow: 0 24px 44px 0 rgba(20, 20, 43, .04);
    border: none;
    border-radius: 35px;
    height: 100%;
}

.card-title {
    font-size: 28px;
    font-weight: 700;
    color: #2e1e73;
}

.card-text {
    font-weight: 300;
}

footer {
    background-color: #151529;
}

.card-holder {
    position: relative;
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, .25));
}

.card-holder.flip .card.-front {
    transform: rotateY(-0.5turn);
}

.card-holder.flip .card.-back {
    transform: rotateY(0turn);
}

.card {
    transition: transform 1s ease;
    backface-visibility: hidden;
}

.-back {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.-flipped {
    transform: rotateY(0.5turn);
}

.container {
    perspective: 1000px;
}

.btn {
    --bs-btn-color: #2e1e73;
    --bs-btn-border-color: #2e1e73;
    --bs-btn-hover-color: white;
    --bs-btn-hover-border-color: #2e1e73;
    --bs-btn-active-bg: #2e1e73;
    --bs-btn-hover-bg: #2e1e73;
}

.fa-fw {
    transform: translateX(-21px);
}

.show-less-details {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 13px;
}

#features {
    background-color: #2e1e73;
}

#features h2 {
    font-weight: 900;
    font-size: xxx-large;
    background: -webkit-linear-gradient(#FFDE21, #FFD32C);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

section#contact {
    height: 550px;
    background-image: url("/img/contact-section-background.svg");
    overflow: hidden;
}

section#contact h2 {
    color: #e14e25;
    font-weight: 700;
    font-size: xxx-large;
    text-align: center;
    z-index: 1;
}

section#contact button {
    color: white;
    background-color: #e14e25;
    border-color: #e14e25;
    border-radius: 50px;
    padding: 18px 25px;
    font-size: x-large;
    transition: all .25s ease-in-out;
    z-index: 1;
}

#laptop-front {
    bottom: 0px;
    width: 800px;
    left: -200px;
    filter: drop-shadow(0px 15px 1px rgba(0, 0, 0, .25));
    padding-bottom: 15px;
}

#tablet-front {
    width: 600px;
    bottom: 40px;
    right: -150px;
    filter: drop-shadow(0px 15px 1px rgba(0, 0, 0, .25));
    padding-bottom: 15px;
}

#phone-left {
    width: 175px;
    bottom: 0;
    right: 350px;
    filter: drop-shadow(0px 15px 1px rgba(0, 0, 0, .25));
    padding-bottom: 15px;
}

@media(max-width: 1601px) {
    #laptop-front {
        left: -350px;
        width: 700px;
    }

    #phone-tablet-wrapper {
        left: 200px;
    }
}

@media(max-width: 1367px) {
    #laptop-front {
        left: -360px;
        width: 680px;
    }
}