body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

nav {
    background-color: #151529;
    --bs-navbar-color: white !important;
}

nav .navbar-brand span {
    font-weight: 900;
}

html {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


nav .navbar-brand span {
    font-weight: 900;
}

#intro {
    box-shadow: inset 0 0 0 2000px rgba(21, 21, 41, 0.8);
    background-size: cover;
    background-image: url('https://images.pexels.com/photos/7594130/pexels-photo-7594130.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
}

#intro a {
    color: white;
    background-color: #6161E9;
    border-color: #6161E9;
    border-radius: 50px;
    padding: 18px 25px;
    font-size: x-large;
    transition: all .25s ease-in-out;
}

#intro a:hover {
    background-color: rgb(44, 44, 84);
    border-color: rgb(44, 44, 84);
}

section#features {
    position: relative;
}


section#features::before {
    content: "";
    position: absolute;
    top: 35%;
    left: 50%;
    z-index: -1;
    width: 69%;
    height: 60%;
    border-radius: 30px;
    background-color: #151529;
    -webkit-transform: skew(0deg, -15deg);
    -ms-transform: skew(0deg, -15deg);
    transform: skew(0deg, -15deg) translate(-50%, -50%);
}

section#features div.feature {
    height: 100vh;
}

.card {
    box-shadow: 0 24px 44px 0 rgba(20, 20, 43, .04);
    border: none;
    border-radius: 35px;
    height: 100%;
}

.card-title {
    font-size: 28px;
    font-weight: 700;
    color: #6161E9;
}

.card-text {
    font-weight: 300;
}

footer {
    background-color: #151529;
}

.card-holder {
    position: relative;
}

.card-holder.flip .card.-front {
    transform: rotateY(-0.5turn);
}

.card-holder.flip .card.-back {
    transform: rotateY(0turn);
}

.card {
    transition: transform 1s ease;
    backface-visibility: hidden;
}

.-back {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

.-flipped {
    transform: rotateY(0.5turn);
}

.container {
    perspective: 1000px;
}

.btn {
    --bs-btn-color: #6161E9;
    --bs-btn-border-color: #6161E9;
    --bs-btn-hover-color: white;
    --bs-btn-hover-border-color: #6161E9;
    --bs-btn-active-bg: #6161E9;
    --bs-btn-hover-bg: #6161E9;
}

.fa-fw {
    transform: translateX(-21px);
}

.show-less-details {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: 13px;
}

#features h2 {
    font-weight: 900;
    font-size: 72px;
    background: -webkit-linear-gradient(#FFDE21, #FFD32C);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}